<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shelfGroup">

	<insert id="add" parameterType="com.ssitcloud.shelfmgmt.entity.ShelfGroupEntity" useGeneratedKeys="true" keyProperty="shelf_group_idx">
		INSERT INTO `shelf_group` (
			`lib_id`,
			`shelf_group_id`,
			`shelf_group_name`,
			`shelf_group_desc`
		) VALUES (
			#{lib_id},
			#{shelf_group_id},
			#{shelf_group_name},
			#{shelf_group_desc}
		)
	</insert>
	
	<delete id="delete" parameterType="java.util.List">
			<![CDATA[  
			DELETE FROM `shelf_group` WHERE `shelf_group_idx` in
	    ]]>  
	    <foreach collection="list" item = "shelfGroup" open="(" separator="," close=")">
	   		${shelfGroup.shelf_group_idx}
	    </foreach>
	  
	</delete>
	
	<select id="count" parameterType="com.ssitcloud.shelfmgmt.entity.ShelfGroupEntity" resultType="int">
		SELECT count(1) FROM `shelf_group` 
		<where>
			<if test="lib_id !=null and lib_id !='' ">
				and `lib_id` = #{lib_id} 
			</if>
			<if test="shelf_group_id !=null and shelf_group_id !='' ">
				and (`shelf_group_id` like concat('%','${shelf_group_id}','%') or `shelf_group_name` like concat('%','${shelf_group_id}','%'))
			</if>
		</where>
	</select>
	
	<select id="select" resultType="com.ssitcloud.shelfmgmt.entity.ShelfGroupEntity">
		SELECT * FROM `shelf_group`
		<where>
			<if test="lib_id !=null and lib_id !='' ">
				and `lib_id` = #{lib_id} 
			</if>
			<if test="shelf_group_id !=null and shelf_group_id !='' ">
				and (`shelf_group_id` like concat('%','${shelf_group_id}','%') or `shelf_group_name` like concat('%','${shelf_group_id}','%'))
			</if>
		</where>
	</select>

	<select id="selectById" parameterType="com.ssitcloud.shelfmgmt.entity.ShelfGroupEntity" resultType="com.ssitcloud.shelfmgmt.entity.ShelfGroupEntity">
		SELECT  b.*,c.shelf_config_idx FROM `shelf_group` b left join rel_shelf_config c on b.shelf_group_idx = c.shelf_idx where b.`shelf_group_idx` = #{shelf_group_idx} 
	</select>
	
	<update id="update" parameterType="com.ssitcloud.shelfmgmt.entity.ShelfGroupEntity">
		UPDATE `shelf_group` SET 
			`shelf_group_id` = #{shelf_group_id},
			`shelf_group_name` = #{shelf_group_name},
			`shelf_group_desc` = #{shelf_group_desc},
			version_stamp=version_stamp+1
			WHERE `shelf_group_idx` = #{shelf_group_idx} 
			<if test="version_stamp !=null and version_stamp !='' ">
				AND version_stamp = #{version_stamp}
			</if>
	</update>
	
	
	<insert id="addRelConfig" parameterType="com.ssitcloud.shelfmgmt.entity.RelShelfConfigEntity" useGeneratedKeys="true" keyProperty="rel_shelf_config_idx">
		INSERT INTO `rel_shelf_config` (
			`shelf_config_idx`,
			`shelf_idx`
		) VALUES (
			#{shelf_config_idx},
			#{shelf_idx}
		)
	</insert>
	
	<update id="updateRelConfig" parameterType="com.ssitcloud.shelfmgmt.entity.RelShelfConfigEntity">
		UPDATE `rel_shelf_config` SET 
			`shelf_config_idx` = #{shelf_config_idx}
			WHERE `shelf_idx` = #{shelf_idx} 
	</update>
	
	<select id="selectRelConfigById" parameterType="com.ssitcloud.shelfmgmt.entity.RelShelfConfigEntity" resultType="com.ssitcloud.shelfmgmt.entity.RelShelfConfigEntity">
		SELECT * FROM rel_shelf_config WHERE `shelf_idx`=${shelf_idx}
	</select>
</mapper>
