<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hearbeat">

	<insert id="addData" parameterType="com.ssitcloud.node.entity.FlowInfo" useGeneratedKeys="true" keyProperty="flow_idx">
		INSERT INTO `hearbeat` (
			`node_id`,
			`send_time`,
			`queue_length`,
			`process_info`,
			`wait_info`
		) VALUES (
			#{node_id},
			UNIX_TIMESTAMP(NOW()),
			#{queue_length},
			#{process_info},
			#{wait_info}
		)
	</insert>
	
	<select id="getDeadNodes"  parameterType="com.ssitcloud.node.entity.NodeEntity" resultType="com.ssitcloud.node.entity.PrimaryNodeEntity">
		SELECT n.`node_idx`,n.`node_id`,n.`node_name`,n.`node_model`,n.`node_attributes`,n.`node_type_idx`,t.`node_type_name`,n.`container_idx`,c.`container_name`,n.`library_idxs`,n.`node_relations`,(CASE WHEN hr.timeout IS NULL THEN 1 ELSE hr.timeout END) node_status FROM `node` n LEFT JOIN `node_type` t ON n.node_type_idx=t.node_type_idx LEFT JOIN `container` c ON n.container_idx=c.container_idx LEFT JOIN (SELECT h.node_id,UNIX_TIMESTAMP(NOW())-MAX(h.send_time)>600 timeout FROM `hearbeat` h GROUP BY h.node_id) hr ON hr.`node_id`=n.`node_id`
		<where>
		 	<if test="node_model !=null and node_model != ''">
				n.`node_model` = #{node_model}
			</if>
			<if test="node_attributes !=null and node_attributes != ''">
				and n.`node_attributes` = #{node_attributes}
			</if>
		</where>
		ORDER BY (SELECT COUNT(1) FROM node n2 WHERE FIND_IN_SET (n.node_idx,n2.node_relations) AND n2.node_model=n.node_model AND n2.node_attributes=n.node_attributes)
	</select>
	
</mapper>
