<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plcLogicObj">
	<select id="SelPlcLogicObj" resultType="com.ssitcloud.entity.PlcLogicObjEntity">
		select * from plc_logic_obj
	</select>
</mapper>