<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="metadataBookshelf">

	<insert id="add" parameterType="com.ssitcloud.shelfmgmt.entity.MetadataBookshelfEntity">
		INSERT INTO `metadata_bookshelf` (
			`info_type`,
			`info_type_desc`
		) VALUES (
			#{info_type},
			#{info_type_desc}
		)
	</insert>
	
	<delete id="delete" parameterType="com.ssitcloud.shelfmgmt.entity.MetadataBookshelfEntity">
			DELETE FROM `metadata_bookshelf` WHERE `info_type` = #{info_type}
	  
	</delete>
	
	<select id="select" resultType="com.ssitcloud.shelfmgmt.entity.MetadataBookshelfEntity">
		SELECT * FROM `metadata_bookshelf`
	</select>

	<select id="selectByType" parameterType="com.ssitcloud.shelfmgmt.entity.MetadataBookshelfEntity" resultType="com.ssitcloud.shelfmgmt.entity.MetadataBookshelfEntity">
		SELECT * FROM `metadata_bookshelf` where `info_type` = #{info_type} 
	</select>
	
	<update id="update" parameterType="com.ssitcloud.shelfmgmt.entity.MetadataBookshelfEntity">
		UPDATE `metadata_bookshelf` SET 
			`info_type_desc` = #{info_type_desc}
			WHERE `info_type` = #{info_type} 
	</update>
</mapper>
