<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="timed_task_tri">

	<insert id="insertTimedTaskTrigger" parameterType="com.ssitcloud.entity.TimedTaskTriggerEntity" useGeneratedKeys="true" keyProperty="tri_idx">
		insert into timed_task_tri
		(		
            table_name,data_idx,change_state,create_time
		)
		values
		(
             #{table_name},#{data_idx},#{change_state},#{create_time}
		)
	</insert>
	
	<update id="updateTimedTaskTrigger" parameterType="com.ssitcloud.entity.TimedTaskTriggerEntity">
		update timed_task_tri
		<set>
			<if test="table_name!=null">
				table_name=#{table_name},
			</if>
			<if test="data_idx!=null">
				data_idx=#{data_idx},
			</if>
			<if test="change_state!=null">
				change_state=#{change_state},
			</if>
			<if test="create_time!=null">
				create_time=#{create_time},
			</if>
		</set>
		   WHERE 1=1 
	   <if test="tri_idx!=null">
			and tri_idx=#{tri_idx}
		</if>
	</update>
	
     <delete id="deleteTimedTaskTrigger" parameterType="com.ssitcloud.entity.TimedTaskTriggerEntity">
		delete from timed_task_tri WHERE 1=1 
	   <if test="tri_idx!=null">
			and tri_idx=#{tri_idx}
		</if>
		<if test="data_idx!=null">
			and data_idx=#{data_idx}
		</if>
		<if test="change_state!=null">
			and change_state=#{change_state}
		</if>
		and data_idx in(select task_idx from timed_task where task_state="1")
	</delete>
	
	<select id="selectTimedTaskTrigger" parameterType="com.ssitcloud.entity.TimedTaskTriggerEntity" resultType="com.ssitcloud.entity.TimedTaskTriggerEntity">
		SELECT tri_idx,table_name,data_idx,change_state,create_time FROM timed_task_tri 
	    where 1=1
		<if test="tri_idx!=null">
			AND tri_idx=#{tri_idx}
		</if>
	</select>
	<select id="selectTimedTaskTriggers" parameterType="com.ssitcloud.entity.TimedTaskTriggerEntity" resultType="com.ssitcloud.entity.TimedTaskTriggerEntity">
		SELECT tri_idx,table_name,data_idx,change_state,create_time FROM timed_task_tri 
	    where 1=1 and data_idx in(select task_idx from timed_task where task_state="1")
	</select>
	
	
	
</mapper>
