<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="libraryAcsLogininfo">
	<sql id="baseCol">
		lib_acs_idx,
		lib_idx,
		protocol_tpl_idx,
		acs_key,
		lib_acs_ip,
		lib_acs_port,
		acs_target,
		acs_loginname,
		acs_loginpwd
	</sql>
	
	<select id="selectLibraryAcsLogininfos" resultType="com.ssitcloud.entity.LibraryAcsLogininfoEntity" parameterType="com.ssitcloud.entity.LibraryAcsLogininfoEntity">
		select <include refid="baseCol"/> from library_acs_logininfo
		where 1 = 1 
		<if test="lib_idx != null">
			and lib_idx = #{lib_idx}
		</if>
	</select>
</mapper>