<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="appinfo">

<select id="getAllUsefulAppVersionInfo" resultType="java.util.Map">
	SELECT 
	  app_type,
	  key_version,
	  privatekey,
	  publickey,
	  createtime 
	FROM
	  `app_versioninfo` 
	WHERE useflg = 0 
</select>

</mapper>
