<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="paging">
    	<sql id="head">
			<if test="doAount==true">
				SELECT COUNT(*) total FROM(
			</if>
    	</sql>
    	
    	<sql id="tail">
	    	<if test="doAount==true">
				)a
			</if>
			
			<if test="doAount==false">
				limit #{beginIndex},#{pageSize}
			</if>
    	</sql>
</mapper>
