<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="finemonth">


<insert id="insertFineMonthData" parameterType="com.ssitcloud.dbstatistics.entity.FineMonthDataEntity"
useGeneratedKeys="true" keyProperty="fine_idx">
	INSERT INTO finemonthdata(
	     `device_idx`,
		 `lib_idx`,
		 `fineCountType`,
		 `finesubType`,
		 `fineMonthCount`,
		 `fineDate`,
		 `createDate`,
		 `updateDate`
	 )VALUES(
	     #{device_idx},
		 #{lib_idx},
		 #{fineCountType},
		 #{finesubType},
		 #{fineMonthCount},
		 #{fineDate},
		 #{createDate},
		 #{updateDate}
	 )
	
</insert>

<delete id="deleteFineMonthData">
	delete from finemonthdata where `fine_idx` = #{fine_idx}
</delete>

<update id="updateFineMonthData" parameterType="com.ssitcloud.dbstatistics.entity.FineMonthDataEntity">
	UPDATE finemonthdata 
	<set>
	    <if test="device_idx !=null and device_idx !=''">
			`device_idx` = #{device_idx},
		</if>
		<if test="lib_idx !=null and lib_idx !=''">
			`lib_idx` = #{lib_idx},
		</if>
		<if test="fineCountType !=null and fineCountType !=''">
			`fineCountType` = #{fineCountType},
		</if>
		<if test="finesubType !=null and finesubType !=''">
			`finesubType` = #{finesubType},
		</if>
		<if test="fineMonthCount !=null and fineMonthCount !=''">
			`fineMonthCount` = #{fineMonthCount},
		</if>
		<if test="fineDate !=null and fineDate !=''">
			`fineDate` = #{fineDate},
		</if>
		<if test="createDate !=null and createDate !=''">
			`createDate` = #{createDate},
		</if>
		<if test="updateDate !=null and updateDate !=''">
			`updateDate` = #{updateDate},
		</if>
	</set>
	<where>
		`fine_idx` = #{fine_idx}
	</where>
</update>

<select id="queryFineMonthData" parameterType="com.ssitcloud.dbstatistics.entity.FineMonthDataEntity" resultType="com.ssitcloud.dbstatistics.entity.FineMonthDataEntity">
	select * from finemonthdata where 1=1
	<if test="fine_idx !=null and fine_idx !=''">
		AND `fine_idx` = #{fine_idx}
	</if>
	<if test="lib_idx !=null and lib_idx !=''">
		AND `lib_idx` = #{lib_idx}
	</if>
	<if test="device_idx !=null and device_idx !=''">
		AND `device_idx` = #{device_idx}
	</if>
	<if test="fineCountType !=null and fineCountType !=''">
		AND `fineCountType` = #{fineCountType}
	</if>
	<if test="finesubType !=null and finesubType !=''">
		AND `finesubType` = #{finesubType}
	</if>
	<if test="fineDate !=null and fineDate !=''">
		AND `fineDate` = #{fineDate}
	</if>
</select>
<select id="queryFineMonthDataList" parameterType="com.ssitcloud.dbstatistics.entity.FineMonthDataEntity" resultType="com.ssitcloud.dbstatistics.entity.FineMonthDataEntity">
	select * from finemonthdata 
</select>
<select id="getAllFinanceMonth" parameterType="com.ssitcloud.dbstatistics.entity.FineMonthDataEntity" resultType="com.ssitcloud.dbstatistics.entity.FineMonthDataEntity">
	select * from finemonthdata 
</select>

<select id="countFinanceLog" parameterType="map" resultType="com.ssitcloud.statistics.entity.StatisticsEntity">
	<choose>
		<when test="chart_type=='pie'">
			SELECT finesubType type,sum(fineMonthCount) total from finemonthdata ll
		</when>
		<otherwise>
			SELECT 'month' type,sum(fineMonthCount) total,ll.`fineDate` time from finemonthdata ll
		</otherwise>
	</choose>
	<where>
		<if test="lib_idx != null and lib_idx.size() >0">
				AND ll.`lib_idx` IN 
				<foreach collection="lib_idx" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
		<if test="device_idx!=null and device_idx!='' and device_idx!=0">
			AND ll.`device_idx`=#{device_idx}
		</if>
		<if test="fineCountType!=null and fineCountType!=''">
			AND ll.`fineCountType`=#{fineCountType}
		</if>
		<if test="finesubType!=null and finesubType!=''">
			AND ll.`finesubType`=#{finesubType}
		</if>
		<if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
			AND ll.`fineDate` BETWEEN #{startTime} AND #{endTime} 
		</if>
	</where>
	 <choose>
		<when test="chart_type=='pie'">
			GROUP BY finesubType
		</when>
		<otherwise>
			GROUP BY TIME ORDER BY TIME
		</otherwise>
	</choose>
</select>

</mapper>
