<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fineYearData">

	<insert id="insertFineYearData" parameterType="com.ssitcloud.dbstatistics.entity.FineYearDataEntity" useGeneratedKeys="true" keyProperty="fine_idx">
		insert into fineyeardata
		(		
            device_idx,lib_idx,fineCountType,finesubType,fineYearCount,fineDate,createDate,updateDate
		)
		values
		(
            #{device_idx},#{lib_idx},#{fineCountType},#{finesubType},#{fineYearCount},#{fineDate},#{createDate},#{updateDate}
		)
	</insert>
	
	<update id="updateFineYearData" parameterType="com.ssitcloud.dbstatistics.entity.FineYearDataEntity">
		update fineyeardata
		<set>
		    <if test="device_idx!=null">
		        device_idx=#{device_idx},
		    </if>
			<if test="lib_idx!=null">
				lib_idx=#{lib_idx},
			</if>
			<if test="fineCountType!=null">
				fineCountType=#{fineCountType},
			</if>
			<if test="finesubType!=null">
				finesubType=#{finesubType},
			</if>
			<if test="fineYearCount!=null">
				fineYearCount=#{fineYearCount},
			</if>
			<if test="fineDate!=null">
				fineDate=#{fineDate},
			</if>
			<if test="createDate!=null">
				createDate=#{createDate},
			</if>
			<if test="updateDate!=null">
				updateDate=#{updateDate},
			</if>
		</set>
		   WHERE fine_idx=#{fine_idx}
	</update>
	
     <delete id="deleteFineYearData" parameterType="com.ssitcloud.dbstatistics.entity.FineYearDataEntity">
		delete from fineyeardata where fine_idx=#{fine_idx}
	</delete>
	
	<select id="selectFineYearData" parameterType="com.ssitcloud.dbstatistics.entity.FineYearDataEntity" resultType="com.ssitcloud.dbstatistics.entity.FineYearDataEntity">
		SELECT fine_idx,lib_idx,device_idx,fineCountType,finesubType,fineYearCount,fineDate,createDate,updateDate FROM fineyeardata 
	    where 1=1
		<if test="fine_idx !=null and fine_idx !=''">
			AND `fine_idx` = #{fine_idx}
		</if>
		<if test="lib_idx !=null and lib_idx !=''">
			AND `lib_idx` = #{lib_idx}
		</if>
		<if test="device_idx !=null and device_idx !=''">
			AND `device_idx` = #{device_idx}
		</if>
		<if test="fineCountType !=null and fineCountType !=''">
			AND `fineCountType` = #{fineCountType}
		</if>
		<if test="finesubType !=null and finesubType !=''">
			AND `finesubType` = #{finesubType}
		</if>
		<if test="fineDate !=null and fineDate !=''">
			AND `fineDate` = #{fineDate}
		</if>
	</select>
	<select id="selectFineYearDatas" parameterType="com.ssitcloud.dbstatistics.entity.FineYearDataEntity" resultType="com.ssitcloud.dbstatistics.entity.FineYearDataEntity">
		SELECT fine_idx,lib_idx,device_idx,fineCountType,finesubType,fineYearCount,fineDate,createDate,updateDate FROM fineyeardata 
	    where 1=1
	</select>
	
	<select id="getAllFinanceYear" parameterType="com.ssitcloud.dbstatistics.entity.FineYearDataEntity" resultType="com.ssitcloud.dbstatistics.entity.FineYearDataEntity">
		SELECT * FROM fineyeardata 
	</select>
	
	<select id="countFinanceLog" parameterType="map" resultType="com.ssitcloud.statistics.entity.StatisticsEntity">
		<choose>
			<when test="chart_type=='pie'">
				SELECT finesubType type,sum(fineYearCount) total from fineyeardata ll
			</when>
			<otherwise>
				SELECT 'year' type,sum(fineYearCount) total,ll.`fineDate` time from fineyeardata ll
			</otherwise>
		</choose>
		<where>
			<if test="lib_idx != null and lib_idx.size() >0">
				AND ll.`lib_idx` IN 
				<foreach collection="lib_idx" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="device_idx!=null and device_idx!='' and device_idx!=0">
				AND ll.`device_idx`=#{device_idx}
			</if>
			<if test="fineCountType!=null and fineCountType!=''">
				AND ll.`fineCountType`=#{fineCountType}
			</if>
			<if test="finesubType!=null and finesubType!=''">
				AND ll.`finesubType`=#{finesubType}
			</if>
			<if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
				AND ll.`fineDate` BETWEEN #{startTime} AND #{endTime} 
			</if>
		</where>
		<choose>
			<when test="chart_type=='pie'">
				GROUP BY finesubType
			</when>
			<otherwise>
				GROUP BY TIME ORDER BY TIME
			</otherwise>
		</choose>
	</select>
	
</mapper>
