<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="passwordHistory">


<insert id="addPasswordHistory" parameterType="com.ssitcloud.dbauth.entity.PasswordHistoryEntity" 
useGeneratedKeys="true" keyProperty="password_idx">
	INSERT INTO `password_history` ( 
		`operator_idx`,
		`password`,
		`modifyTime`
	) VALUES (
		#{operator_idx},
		#{password},
		NOW()
	)
	
	<!-- 	新增用户时候返回createtime -->
<!--    <selectKey resultType="java.sql.Timestamp" order="AFTER" keyProperty="modifyTime"> -->
<!--          SELECT NOW() AS `modifyTime` -->
<!--      </selectKey> -->
</insert>

<select id="selPasswordHistoryByOperInfo" resultType="com.ssitcloud.dbauth.entity.PasswordHistoryEntity">
	SELECT 
	  ph.* 
	FROM
	  password_history ph,
	  operator o 
	WHERE ph.`operator_idx` = o.`operator_idx` 
	<if test="operator_id != null and operator_idx != ''">
	  AND o.`operator_idx` = #{operator_idx}
	</if>
	<if test="operator_id !=null and operator_id !=''">
	  AND o.`operator_id` = #{operator_id} 
	</if>
</select>

<delete id="delPasswordHistoryByIdx">
	DELETE FROM `password_history` WHERE `password_idx` = #{password_idx}
</delete>

<select id="selPwdHistoryByOperIdx" resultType="com.ssitcloud.dbauth.entity.PasswordHistoryEntity">
	SELECT
		`password_idx`,
		`operator_idx`,
		`password`,
		`modifyTime`
	FROM
		password_history
	WHERE 
		`operator_idx` = #{operator_idx}
	ORDER BY
		modifyTime DESC
	<if test="historyCount!=null">
	LIMIT #{historyCount}
	</if>
</select>



</mapper>
