<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="passwordIdentifiedcode">
	<insert id="insert" parameterType="com.ssitcloud.dblib.entity.PasswordIdentifiedcodeEntity">
		replace into
		password_identifiedcode(`reader_idx`,`identifying_code`,`createtime`)
		values(#{reader_idx},#{identifying_code},now())
	</insert>
	
	<select id="selectCode" 
		parameterType="java.lang.Integer" 
		resultType="com.ssitcloud.dblib.entity.PasswordIdentifiedcodeEntity">
		SELECT
			pc.reader_idx,
			pc.identifying_code,
			pc.createtime
		FROM
			password_identifiedcode AS pc
		WHERE
			pc.reader_idx = #{0}
	</select>
	
	<delete id="deleteByPk" 
		parameterType="java.lang.Integer" >
		delete from password_identifiedcode
		where reader_idx = #{0}
	</delete>
</mapper>
