<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inventory">

	<insert id="insertInventory" parameterType="com.ssitcloud.dblib.entity.InventoryEntity">
		insert into inventory
		(		
            lib_idx,book_barcode,operation,operationresult,operatetime,shelflayer_barcode,shelflayer_barcode_old,remake
		)
		values
		(
             #{lib_idx},#{book_barcode},#{operation},#{operationresult},#{operatetime},#{shelflayer_barcode},#{shelflayer_barcode_old},#{remake}
		)
	</insert>
	
	<update id="updateInventory" parameterType="com.ssitcloud.dblib.entity.InventoryEntity">
		update inventory
		<set>
			<if test="book_barcode!=null">
				book_barcode=#{book_barcode},
			</if>
			<if test="operation!=null">
				operation=#{operation},
			</if>
			<if test="operationresult!=null">
				operationresult=#{operationresult},
			</if>
			<if test="operatetime!=null">
				operatetime=#{operatetime},
			</if>
			<if test="shelflayer_barcode!=null">
				shelflayer_barcode=#{shelflayer_barcode},
			</if>
			<if test="shelflayer_barcode_old!=null">
				shelflayer_barcode_old=#{shelflayer_barcode_old},
			</if>
			<if test="remake!=null">
				remake=#{remake},
			</if>
		</set>
		   WHERE 1=1
		   <if test="lib_idx!=null">
				and lib_idx=#{lib_idx}
			</if>
	</update>
	
     <delete id="deleteInventory" parameterType="com.ssitcloud.dblib.entity.InventoryEntity">
		delete from inventory  WHERE lib_idx=#{lib_idx} 
		<!-- and book_barcode=#{book_barcode} -->
	</delete>
	
	<select id="selectInventory" parameterType="com.ssitcloud.dblib.entity.InventoryEntity" resultType="com.ssitcloud.dblib.entity.InventoryEntity">
		SELECT lib_idx,book_barcode,operation,operationresult,operatetime,shelflayer_barcode,shelflayer_barcode_old,remake FROM inventory 
	    where 1=1
		<if test="lib_idx!=null">
			AND lib_idx=#{lib_idx}
		</if>
		<!-- <if test="book_barcode!=null">
			AND book_barcode=#{book_barcode}
		</if> -->
	</select>
	<select id="selectInventories" parameterType="com.ssitcloud.dblib.entity.InventoryEntity" resultType="com.ssitcloud.dblib.entity.InventoryEntity">
		SELECT lib_idx,book_barcode,operation,operationresult,operatetime,shelflayer_barcode,shelflayer_barcode_old,remake FROM inventory 
	    where 1=1
	</select>
	
	
	
</mapper>
