<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-4.0.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
            http://www.springframework.org/schema/mvc 
            http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-4.0.xsd 
            http://www.springframework.org/schema/task     
    		http://www.springframework.org/schema/task/spring-task-4.0.xsd
    	  ">

    <!-- 启动包扫描功能，以便注册带有@Controller、@Service、@repository、@Component等注解的类成为spring的bean -->
    <context:component-scan base-package="com.ssitcloud.business"></context:component-scan>

    <!-- 启动注解驱动的Spring MVC功能，注册请求url和注解POJO类方法的映射 -->
    <mvc:annotation-driven />
    <!-- 开启切面编程功能 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!-- 引用ehCache的配置 -->
    <bean id="defaultCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation">
            <value>classpath:ehcache.xml</value>
        </property>
    </bean>
    <!-- 定义ehCache的工厂，并设置所使用的Cache name -->
    <!-- 用于保存device库中mainfield表的数据 -->
    <bean id="LIBRARY_CACHE" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheManager" ref="defaultCacheManager" />
        <property name="cacheName">
            <value>LIBRARY_CACHE</value>
        </property>
    </bean>

    <bean id="DEVICE_CACHE" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheManager" ref="defaultCacheManager" />
        <property name="cacheName">
            <value>DEVICE_CACHE</value>
        </property>
    </bean>

    <!-- 读取jdbc,config配置文件,读取多个配置文件需要加上ignore-unresolvable="true",如果有相同的字段，以第一个扫描到的为准-->
    <context:property-placeholder location="classpath:config.properties" ignore-unresolvable="true"/>
	<!-- 容器启动时调用方法 -->
    <bean class="com.ssitcloud.business.statistics.common.system.BeanFactoryHelper"></bean>
    <bean class="com.ssitcloud.business.statistics.common.system.ApplicationContextHolder"></bean>
     <!-- 清应用配置接口 -->
    <bean id="appConfigService" class="com.ssitcloud.common.service.impl.AppConfigServiceImpl"/>
    <!--  -->
    <!-- 	<elasticsearch:transport-client id="client" cluster-nodes="${es.url}" cluster-name="elasticsearch" />  -->
    
    
    <!-- ********************************* 定时任务基础配置 ********************************* -->
	<!-- 执行器 -->
	<bean id="xxlJobExecutor" class="com.xxl.job.core.executor.XxlJobExecutor" init-method="start" destroy-method="destroy" >
		<!-- 执行器注册中心地址[选填]，为空则关闭自动注册 -->
		<property name="adminAddresses" value="${job.admin.addresses}" />
		<!-- 执行器AppName[选填]，为空则关闭自动注册 -->
		<property name="appName" value="${job.executor.appname}" />
		<!-- 执行器IP[选填]，为空则自动获取 -->
		<property name="ip" value="${job.executor.ip}" />
		<!-- 执行器端口号[选填]，为空则自动获取 -->
		<property name="port" value="${job.executor.port}" />
		<!-- 访问令牌[选填]，非空则进行匹配校验 -->
		<property name="accessToken" value="${job.accessToken}" />
		<!-- 执行器日志路径[选填]，为空则使用默认路径 -->
		<property name="logPath" value="${job.executor.logpath}" />
		<!-- 日志保存天数[选填]，值大于3时生效 -->
		<property name="logRetentionDays" value="${job.executor.logretentiondays}" />
	</bean>

    <bean id="sendHearbeat" class="com.ssitcloud.business.statistics.common.utils.SendHearbeatUtil" />
	<task:scheduled-tasks>
		<task:scheduled ref="sendHearbeat" method="sendData" cron="0/30 * * * * ?" />
	</task:scheduled-tasks>

</beans>